<div class="row">
  <!--div class="col-lg-6"-->
    <div class="input-group">
      <input ref-login type="text" class="form-control" placeholder="Enter login" aria-label="Login">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" on-click="getProfil(login.value)">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            GO
        </button>
      </span>
    </div>
  <!--/div-->
</div>

<app-user-detail [profil]="profil"></app-user-detail>

<app-user-repository [repos]="repos | async"></app-user-repository>
