<br>
<br>
<!--button type="button" class="btn btn-primary btn-sm">Primary</button-->
<a href="#" class="badge badge-primary">Primary</a>
<a href="#" class="badge badge-primary">Primary</a>
<a href="#" class="badge badge-primary">Primary</a>
<a href="#" class="badge badge-primary">Primary</a>
<a href="#" class="badge badge-primary">Primary</a>
<a href="#" class="badge badge-primary">Primary</a>
<a href="#" class="badge badge-primary">Primary</a>
<a href="#" class="badge badge-primary">Primary</a>
<a href="#" class="badge badge-primary">Primary</a>
<a href="#" class="badge badge-primary">Primary</a>
<a href="#" class="badge badge-primary">Primary</a>
<a href="#" class="badge badge-primary">Primary</a>
<a href="#" class="badge badge-primary">Primary</a>
<a href="#" class="badge badge-primary">Primary</a>
<a href="#" class="badge badge-primary">Primary</a>
<a href="#" class="badge badge-primary">Primary</a>
